{% extends 'app/base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3 style="font-family: 'Arial', sans-serif; text-transform: capitalize;">
            Welcome <span style="font-family: 'Courier New', monospace;">{{ request.user }}📖</span>
        </h3>
        <br></br>
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
            <br>
            <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-success">Address</a></li>
        </ul>
    </div>

    <div class="col-sm-8 offset-sm-1">
        <div class="row">
            {% for ad in add %}
            <div class="col-sm-6">
                <div class="card m-2">
                    <div class="card-body">
                        <h3>Address {{forloop.counter}}</h3>
                        <p>Name: {{ad.name}}</p>
                        <p>Locality: {{ad.locality}}</p>
                        <p>Mobile: {{ad.mobile}}</p>
                        <p>City: {{ad.city}}</p>
                        <p>State: {{ad.state}}</p>
                        <p>PinCode: {{ad.zipcode}}</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="{% url 'updateAddress' pk=ad.id %}" class="btn btn-info me-2">Update</a>
                            <form action="{% url 'delete-address' ad.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link" onclick="return confirm('Are you sure you want to delete this address?');">
                                    <img src="{% static 'app/images/banner/delete.png' %}" alt="Delete" title="Delete Address" style="width: 28px; height: 28px;">
                                </button>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <br></br>

            <div class="row mt-5">
                <div class="col text-center">
                    <a href="{% url 'home' %}" class="btn btn-warning"><strong>Get started</strong></a>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock main-content %}