<!-- Inside your_app/templates/your_app/order_success.html -->

{% extends 'app/base.html' %}  <!-- Or extend your base template as necessary -->

{% block title %}{% endblock %}

{% block main-content %}
<style>
    .background-image {
        background-image: url('app\images\banner\pngwing.com (11).png');
        background-size: cover;
        background-position: center;
        height: 100%;
    }
</style>
<div class="background-image">
<div class="container h-50">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <iframe src="https://giphy.com/embed/JZLzh2I7wlYQAt84Xp" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Well done! 🎁</h4>
                <p>Your order has been placed successfully.</p>
                <hr>
                <p class="mb-0">Thank you for your purchase. “Get ready for that doorbell ring”</p>
            </div>
            <!-- Optionally, include order details here -->
            <a href="{% url 'home' %}" class="btn btn-info">Continue purchase</a>
            <a href="{% url 'orders' %}" class="btn btn-success">View Orders</a>
            <a href="{% url 'invoice' %}" class="btn btn-light">Receipt</a>
        </div>
    </div>
</div>
</div>
{% endblock %}