{% extends 'app/base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3 style="font-family: 'Arial', sans-serif; text-transform: capitalize;">
            Welcome <span style="font-family: 'Courier New', monospace;">{{ request.user }}📖</span>
        </h3>
    </div>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-success">Back to profile</a></li>
            </ul>
        </div>
<div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password Changed Successfully ! </h3>
    <div>
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/clean-cleanmama-naturalhomekeeping-ibolLe3mOqHE3PQTtk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/check-verified-checking-tf9jjMcO77YzV4YPwE" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/smile-done-Mp4hQy51LjY6A" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
        <div>
            <br><br><br><br><br>
        </div>
</div>
{% endblock main-content %}